@model MyFleetManagerPro.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 36rem; height: auto;">
        <div class="card-body text-center">
            <h2 class="card-title text-primary">Add Vehicle</h2>
            <p class="align-content-center">Enter Vehicle Details</p>
            <div class="container">
                <form asp-action="Driver">
                    <div>
                        <div class="form-group">
                            <label asp-for="Registration_Number" class="control-label">Registration Number</label>
                            <input asp-for="Registration_Number" class="form-control" placeholder="e.g. YGG 737 HBP" />
                        </div>
                        <div class="form-group">
                            <label asp-for="DriverID" class="control-label">Driver</label>
                            <input asp-for="DriverID" class="form-control" placeholder="e.g. Masana" />
                        </div>
                        <div class="form-group">
                            <label asp-for="FleetID" class="control-label">Fleet</label>
                            <input asp-for="FleetID" class="form-control" placeholder="e.g. Masana's fleet" />
                        </div>
                        <br />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}