@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>My Fleet Manager Pro</title>
</head>
<body>
    <style>
        body {
            background-color: red;
        }

        footer {
            background-color: white;
        }
    </style>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem; background-color: silver; ">
            <div class="card-body text-center">
                <h5 class="card-title" style="color: white;">Add Fleet</h5>
                <p class="card-text" style="color: white;">Create a new fleet of vehicles</p>
                <a asp-controller="Fleet" asp-action="Create" class="btn btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem; background-color: silver; ">
            <div class="card-body text-center">
                <h5 class="card-title" style="color: white;">Add Driver</h5>
                <p class="card-text" style="color: white;">Enter the details of a driver in the fleet</p>
                <a asp-controller="Driver" asp-action="Create" class="btn btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem; background-color: silver; ">
            <div class="card-body text-center">
                <h5 class="card-title" style="color: white;">Add Vehicle</h5>
                <p class="card-text" style="color: white;">Enter the details of a new vehicle in your fleet</p>
                <a asp-controller="Vehicle" asp-action="Create" class="btn btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem; background-color: silver; ">
            <div class="card-body text-center">
                <h5 class="card-title" style="color: white;">Add Transaction</h5>
                <p class="card-text" style="color: white;">Capture the details of a fuel transaction</p>
                <a asp-controller="Transaction" asp-action="Create" class="btn btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem; background-color: silver; ">
            <div class="card-body text-center">
                <h5 class="card-title" style="color: white;">View Transactions</h5>
                <p class="card-text" style="color: white;">View all transactions captured</p>
                <a asp-controller="Transaction" asp-action="Index" class="btn btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem; background-color: silver; ">
            <div class="card-body text-center">
                <h5 class="card-title" style="color: white;">Report</h5>
                <p class="card-text" style="color: white;">Generate a report for the vehicles in your fleet</p>
                <a asp-controller="Report" asp-action="Generate" class="btn btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br />
</body>
</html>